 apiVersion: apiextensions.k8s.io/v1beta1
 kind: CustomResourceDefinition
 metadata:
   name: servers.arc.com
 spec:
   scope: Namespaced
   group: arc.com
   versions:
     - name: v1alpha1
       served: true
       storage: true
   names:
     kind: Server
     plural: servers
     singular: server
     shortNames:
       - se
       - serv
   preserveUnknownFields: false
   validation:
     openAPIV3Schema:
       type: object
       properties:
         spec:
           type: object
           properties:
            open:
              type: boolean
            proxyName:
              type: string
